<!-- Archivo ejemplo.ejs  -->
<!DOCTYPE html>
<html>
<head>
    <!-- Configuraciones Metadatos -->
    <!-- CSS -->
    <!-- La referencia es al link http://localhost:3001/css/estilos-generales.css -->
    <link rel="stylesheet" href="/css/estilos-generales.css">
</head>
<body>
    <p> Hola <%= nombre %> ! </p>
    <!-- CONTENIDO HTML -->
    <!-- SCRIPTS -->
    <!-- La referencia es al link http://localhost:3001/js/logica-general.js -->
    <script src="/js/logica-general.js"></script>
</body>
</html>

