
<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<h1>Login</h1>
<%- include('../compartido/menu/menu-component')%>

<button onclick=mensajeAlertar()> ALERTAR </button>
<%- include('../compartido/funcionalidad-general/funcionalidad-general-component')%>