<!-- menu-component -->
<ul>  <!--  unordered list -->
    <li> <!--  List item  -->
        <a href="/usuario/vista/inicio">inicio</a>  <!-- Anchor (ancla) -->
    </li>
    <li>
        <a href="/usuario/vista/faq">F.A.Q.</a>
    </li>
    <li>
        <a href="/usuario/vista/login">login</a>
    </li>
</ul>
