
<% const esSupervisor = roles.some((rol) => rol === 'Supervisor' )%>
<% const esAdminsitrador = roles.some((rol) => rol === 'Administrador' )%>

<p>Bienvenido <%= usuario %> </p>

<% if (esSupervisor) { %>
<button>Supervisor</button>
<% } %>

<% if (esAdminsitrador) { %>
<button>Administrador</button>
<% } %>

<a href="/logout">
    <button>Logout</button>
</a>

