<%- include('../estilos-generales/estilos-generales-component')%>

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/materia/vista/inicio" ><h2>Inicio</h2></a>
    </li>
</ul>